#showcase {
        background-color: #2e4c6d;
        padding: 25px;
        border: 5px solid rgb(87, 0, 249);
      }
      h1 {
        padding: 15px;
        background-color: aqua;
        /* border: 5px solid greenyellow; */
        border-left: red 5px solid;
        border-right: blue 5px solid;
        border-top: yellow 10px solid;
        border-bottom: green 10px solid;
        border-radius: 4px;
      }
      #how-it-works {
        background-color: #fc997c;
        padding: 10px;
      }
      nav {
        background-color: #DADDFC;
        padding: 15px;
        border-bottom: 5px solid blue;
      }
      a {
        padding: 10px;
        background-color: black;
        border: 2px solid red;
        /* border-radius: 5px; */
        border-radius: 5px 10px 3px 5px;
        border-top-left-radius: 20px;
      }
