section {
            background-color: #2e4c6c;
        }
        .f28 {
            font-size: 28px;
        }
        .f20 {
            font-size: 20px;
        }
        #page-title {
            border: 2px solid red;
        }
        #page-subtitle {
            border-bottom: 2px solid blue;
        }
        .text-white {
            color: #fff;
        }