body{
       margin: 0px;
      }
      #showcase {
        background-color: aqua;
        height: 500px;
        width: 100%;
      }
      #how-it-works {
        background-color: #FC997C;
        padding: 10px;
      }
      .main-header {
        background-color: #FC997C;
      }
      .main-nav {
        display: inline-block;
        width: calc(100% - 99px);
        text-align: right;
      }
      .main-nav__items {
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
      .main-nav__item {
        display: inline-block;
        margin: 0px;
      }
      .main-header__logo {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 21px;
      }
      .main-nav__item a {
        text-decoration: none;
        color: #fff;
      }