section {
        background-color:#000B58; 
        text-align: center;
        }
        h1 {
            color: rosybrown;
        }
        
        h2{ 
            color: White;
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: blue;
        }